body {
  background-color: #FCCB00;
}

header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

header {
  border-bottom: 2px solid #000;
}

nav a {
  text-decoration: none;
}

#banner {
  background-image: url('banner.jpg');
  background-size: contain;
  height: 300px;
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 0px
}

article {
  background-color: #E44423;
  padding: 4px;
  border-radius: 4px;
}

a {
  color: #1769B6;
}
